/* Right Sidebar */
.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 440px;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    /*box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);*/
    overflow-y: auto; /* Allow scrolling */
}


@media (max-width: 768px) {
    .right-sidebar {
        display: none; /* Hide sidebar on small screens */
    }
}
