/* Reset margins and paddings for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/* Global styles */
body {
    background-color: #f9f9f9; 
    justify-content: center;
}

/* Main container styles */
.container {
    margin-top: 100px; /* Adjust as needed based on navbar height */
    width: 1024px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

h1 {
    color: #007bff; 
    padding: 10px;
    margin-bottom: 100px;
}

/* Profile picture styles */
.profile_pic {
    height: 150px; 
    width: 150px; 
    border-radius: 150px; 
    background-color: transparent;

    border: 3px solid #0056b3;
    border-radius: 50%;
}

/* Form and button styles */
form {
    margin-top: 20px;
    margin-bottom: 20px;
}


.bio {
    color: #0056b3;
    margin: 10px;
    font-size: medium;
    
}

/* Add this to your CSS file */
.update-profile-btn {
    background-color: #ffffff;
    color: #000000;
    margin-left: 10px;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 40px;
    width: 100px;

    a{
        display: flex;
        align-self: center;
        margin: 10px;
        text-decoration: none;
        color: #007bff;
        font-size: 16px;
    }
}

/* Profile picture change button styles */
.pfp-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
    
}

.pfp-label{
    margin-left: 10px;
}

   
/* Username and email styles */
.uname-elements {
    width: 100%;
}

.uname-elem {
    display: flex;
    margin-left: 10px;
}

.Profile-uname {
    color: #007bff;
    font-size: xx-large;

}

.Profile-email {
    font-size: medium;
    color: #007bff;
    margin-left: 10px;
    padding-top: 10px;
}


.Profile-joined {
    font-size: small;
    color: #007bff;
    margin-left: 10px;
    padding-top: 10px;
}


/* Icon styles */
.non-nav-icon {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.non-nav-icon-img {
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

/* User posts styles */

.post_time {
    font-size: smaller;
    padding-left: 10px;
    margin-top: 2px;
    margin-right: 10px;
    transition: 0.4s ease;
    margin-bottom: 2px;
    color: #0056b3;
    opacity: 50%;
}

.post {
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.post h3 {
    margin: 0px;
    cursor: pointer;
    padding: 20px 10px;
    text-align: left;
    color: #007bff;
}

.post_content {
    margin-left: 10px;
    margin-top: 20px;
    text-align: justify;
    margin-right: 10px;
    margin-bottom: 20px;
    color: black;
    display: none;
    transition: 0.4s ease;
    font-weight: normal;
}

hr {
    border: 1px solid #007bff;
    opacity: 20%;
}

.like-count{
    font-size: small;
}
.count_comm {
    color: #007bff;
    text-align: center;
    font-size: medium;
    padding: 10px;
    opacity: 80%;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .navbar {
        width: 90%;
    }
}
